.bg-image{
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('img/img.png');
    height: 100vh;
}

.google-img{
    margin: 20px;
    padding: 20px;
    margin-top: 10vh;
}


.input-group-text{
    border-radius: 100px;
    background-color: #ffffff;
    border-right-style: none;
}


.google-input{
    border: 1px solid #c9c9c9;
    width: 30rem;
    border-radius: 100px;
    padding: 0 1rem;
    border-left-style: none;
}

.small-4{
    padding: 1rem;
    
}

.footer{
    margin-top: 42vh;
}

